
.navClass {
    font-family: $font;
    background-color: transparent;
    color: $colorWhite;
    display: block;

    


    .blackDiv {
        height: 1.8rem;
        background-color: transparent;
        border-bottom: none;
    }

    p {
        margin: 0;
    }
    .text {
        @extend %flexEndCenter;
    }

    .Sup {
        font-size: $fontSizeTextSupHeader;
        margin-bottom: 0.5rem;
        padding-right: 8rem;

        img {
            margin: 0 0.5rem 0 5rem;
        }
    }

    .Inf {
        @extend %flexEndCenter;
        font-size: $fontSizeTextInfHeader;
        margin-top: 0.5rem;
        padding-right: 10rem;
        border-bottom: 1px solid #13A3D9;


    }

    .header {

        font-size: 50px;

        background-image: linear-gradient(to left, $colorPrim, $colorWhite);
        border: 1px solid #13A3D9;
        box-shadow: inset 0px 6px 4px rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 4rem;
        position: relative;

        .logoHeader {
            // background-image: url("../../img/logo.png");
            // width: inherit;
            // background-repeat: no-repeat;
            height: 7rem;
            position:absolute;
            bottom: -1rem;
            margin-left: 1rem;
        }

        .simple {
            bottom: -2rem;
            margin-left: 3rem;
        }

        .linkGroup {
            display: flex;
            justify-content: end;
            padding-right: 7rem;

            .link {
                color: $colorBlack;
                font-weight: $fontWeight;
                font-size: $fontSizeHeader;
                margin: 0 0.8rem;
            }

            .bContact {
                @extend %bContact;
                margin-left: 3rem;
                border: none;
            }

        }





    }

    .thin {
        height: 42px;
    }

}