.landing {
    font-family: $font;
    background-image: url("../../img/fondo.png");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    padding-top: 150px;
    display: flex;
    justify-content: center;

    .landCarousel{ 
        width: 80%;
        //height: 30rem;

        .carouItem {

        }

        .carouText {

            h1  {
            font-weight: 1000;
        }
        }
    }
}