.landing {
    font-family: $font;
    color: $colorWhite;
    background-image: url("../../img/fondo.png");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    padding-top: 150px;
    @extend %flexColumnCenter;

    .landCarousel {
        width: 80%;
        //height: 30rem;

        .carouItem {}

        //modifico la ubicación del captio en el carousel
        .carousel-caption {
            right: 50%;
            left: 5%;
            top: 8rem;
            bottom: auto;
            text-align: start;
            padding-left: 1.25rem;
        }

        .carouText {
            background-color: $colorBackCarouTitle;
            border-radius: 22px;

            .carouTitle {
                @extend %fontTitle;
//                color: $colorWhite;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
    }

    .landArrow {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 1rem 0;
    }

    .landSeg {
        width: 40%;
  //      color: $colorWhite;

        &:hover {
            scale: 110%;
            transition: scale 0.5s;
        }

        .landSegLeft {
            padding-left: 5rem;
        }

        .landSegRight {
            padding-right: 5rem;
        }
    }

    .landServices {
        @extend %flexColumnCenter;
        width: 80%;

        .landServText {
            text-align: center;
            justify-content: center;
            width: 70%;

            .landServTitle {
                @extend %fontTitle;
                margin-bottom: 2rem;
            }

            .landServDescrip {
                font-size: $fontSizeButton;
                margin: 4rem 0;
            }
        }

        .landServIcons {
            width: 100%;
            @extend %flexWrap;
            column-gap: 10rem;
            row-gap: 5rem;
            
        }

    }

    .landUs {
        width: 90%;
        margin-bottom: 2rem;
        
        .usTitle {
            font-weight: $fontWeightTitle;
            text-align: center;
            margin-bottom: 4rem;
        }

        .landUsCards {
            @extend %flexWrap;
            column-gap: 10rem;
            row-gap: 5rem;
        }
    }

    .landClients {
        width: 100%;
        background: linear-gradient(180deg, $colorWhite 0%, rgba(231, 231, 231, 0) 100%);

        .clientsTitle {
            margin-left: 15rem;
            color: $colorPrim;
            font-weight: $fontWeightTitle;
        }

        .clientsText {
            margin-left: 15rem;
            color: $colorBlack;
            font-weight: $fontWeightResp;
            font-size: $fontSizeHeader;
        }
    }
}