@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$font: 'Poppins', sans-serif;
$fontWeight: 800;
$fontWeightResp: 500;

$fontSizeHeader: 20px;
$fontSizeButton: 16px;
$fontSizeTextSupHeader: 10px;
$fontSizeTextInfHeader: 14px;


$colorPrim: #13A3D9;
$colorWhite: white;
$colorBlack: black;
$colorGray: #D2D2D2;
$colorMenu: rgba(134, 134, 134, 0.62);


$mobileScreen: 768px;