@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$font: 'Poppins', sans-serif;
$fontWeight: 800;

$fontSizeHeader: 20px;
$fontSizeButton: 16px;

$size-fuente-footer: 1rem;
$size-fuente-index: 2rem;
$size-fuente-nosotros: 1.5rem;
$size-fuente-responsive: 1rem;
$size-fuente-formulario: 1rem;
$size-fuente-mapa: 1.2rem;


$pad-h1: 50px 0px;
$pad-top: 50px;
$pad-bot: 10px;


$colorPrim: #13A3D9;
$colorWhite: white;
$colorBlack: black;