.autom {
    @extend %imageBackground;
    //@extend %flexColumnCenter;


    .automAnimation {
        //height: 60vh;
        background-image: url('../../img/autoAnimation.gif');
        background-size: cover;
        height: 80vh;
        transition: height 2s;

        &:hover {
            height: 0;
        }
    
    }

    
    .automCarouselDiv {
        background-color: rgb(44, 44, 44);
        display: flex;
        justify-content: center;

        .automCarousel {
            width: 80%;

            .carousel-caption {
                right: 50%;
                left: 0%;
                height: 100%;
                top: 0;
                bottom: auto;
                text-align: start;
                //padding-left: 1.25rem;
                padding-top: 7rem;
                padding-right: 3rem;

                @media screen and (max-width: $mobileScreen) {
                    display: none;
                }
            }

            .automCarouText {
                background-color: rgb(44, 44, 44);

                .automCarouTitle {
                    @extend %fontTitleSection;
                }

                h6 {
                    color: $colorTextSection;
                }

                .sectionButton {
                    margin-top: 3rem;
                    background: linear-gradient(90.96deg, rgba(196, 196, 196, 0.8) 15.67%, rgba(255, 255, 255, 0.8) 46.39%, rgba(255, 255, 255, 0.8) 49.98%, rgba(255, 255, 255, 0.8) 53.56%, rgba(196, 196, 196, 0.8) 86.85%);
                    border-radius: 40px;
                    border: none;
                    color: $colorBlack;
                    margin-left: 18rem;
                }
            }

            .automCarouItem {
                height: 80%;
            }
        }
    }

    .automDetail {
        width: 100%;
        height: 50vh;
        background: linear-gradient(180deg, $colorWhite 0%, rgba(231, 231, 231, 0) 100%);
        margin-top: 5rem;
    }
}