.autom {
    @extend %imageBackground;
    font-family: $font;
    color: $colorWhite;


    .automAnimation {
        background-image: url('../../img/autoAnimation.gif');
        background-size: cover;
        height: 80vh;
        transition: height 2s;
    }

    .animCollapse {
        height: 0;
    }


    .automCarouselDiv {
        background-color: rgb(44, 44, 44);
        display: flex;
        justify-content: center;

        .automCarousel {
            width: 80%;

            .carousel-caption {
                right: 50%;
                left: 0%;
                height: 100%;
                top: 0;
                bottom: auto;
                text-align: start;
                //padding-left: 1.25rem;
                padding-top: 7rem;
                padding-right: 3rem;

                @media screen and (max-width: $mobileScreen) {
                    display: none;
                }
            }

            .automCarouText {
                background-color: rgb(44, 44, 44);

                .automCarouTitle {
                    @extend %fontTitleSection;
                }

                h6 {
                    color: $colorTextSection;
                }

                .sectionButton {
                    margin-top: 3rem;
                    background: linear-gradient(90.96deg, rgba(196, 196, 196, 0.8) 15.67%, rgba(255, 255, 255, 0.8) 46.39%, rgba(255, 255, 255, 0.8) 49.98%, rgba(255, 255, 255, 0.8) 53.56%, rgba(196, 196, 196, 0.8) 86.85%);
                    border-radius: 40px;
                    border: none;
                    color: $colorBlack;
                    margin-left: 18rem;
                }
            }

            .automCarouItem {
                height: 80%;
            }
        }
    }

    .automDetail {
        width: 100%;
        height: min-content;
        background: linear-gradient(180deg, $colorWhite 0%, rgba(231, 231, 231, 0) 100%);
        margin-top: 5rem;
        padding-bottom: 2rem;
        color: $colorWhite;

        //  display: flex;
        //  flex-direction: column;
        //  align-items: center;


        .tabTitle {
            background: linear-gradient(180deg, #979393 0%, #CACACA 100%);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-weight: $fontWeightResp;
            font-size: $fontSizeHeader;
            //width: 100%;
        }

        //centro el contenido de los tabs
        .tab-content {
            display: flex;
            justify-content: center;
        }


        .tabContent {
            text-align: center;
            width: 70%;
            margin: 2rem 0;

            .tabImage {
                width: 100%;
                margin-bottom: 2rem;
            }


        }
    }


}