.autom {
    @extend %imageBackground;
    font-family: $font;
    color: $colorWhite;


    .automAnimation {
        background-image: url('../../img/autoAnimation.gif');
        background-size: cover;
        background-position: center;
        height: 100vh;
        transition: height 3s;
    }

    .animCollapse {
        height: 0;
    }


    .automCarouselDiv {
        background-color: rgb(44, 44, 44);
        display: flex;
        justify-content: center;

        .automCarousel {
            width: 80%;

            .carousel-caption {
                right: 50%;
                left: 0%;
                height: 100%;
                top: 0;
                bottom: auto;
                text-align: start;
                //padding-left: 1.25rem;
                padding-top: 7rem;
                padding-right: 3rem;

                @media screen and (max-width: $mobileScreen) {
                    display: none;
                }
            }

            .automCarouText {
                background-color: rgb(44, 44, 44);

                .automCarouTitle {
                    @extend %fontTitleSection;
                }

                h6 {
                    color: $colorTextSection;
                }

                .sectionButton {
                    margin-top: 3rem;
                    background: linear-gradient(90.96deg, rgba(196, 196, 196, 0.8) 15.67%, rgba(255, 255, 255, 0.8) 46.39%, rgba(255, 255, 255, 0.8) 49.98%, rgba(255, 255, 255, 0.8) 53.56%, rgba(196, 196, 196, 0.8) 86.85%);
                    border-radius: 40px;
                    border: none;
                    color: $colorBlack;
                    margin-left: 18rem;
                }
            }

            .automCarouItem {
                height: 80%;
            }
        }
    }

    .automDetail {
        width: 100%;
        height: min-content;
        @extend %whiteGradient;
        color: $colorWhite;


        .tabTitle {
            background: linear-gradient(180deg, #979393 0%, #CACACA 100%);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-weight: $fontWeightResp;
            font-size: $fontSizeHeader;

        }

        //centro el contenido de los tabs
        .tab-content {
            display: flex;
            justify-content: center;
        }


        .tabContent {
            text-align: center;
            width: 70%;
            margin: 2rem 0;

            .tabImage {
                width: 100%;
                margin-bottom: 2rem;
            }


        }
    }

    .automProjects {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5rem 0;

        .automProj {
            @extend %flexWrap;

            .automProjImg {
                width: 45%;
                height: 10rem;
                border-radius: 20px;
                margin: 0.25rem;
                background-size: cover;
                background-repeat: no-repeat;

                &:hover {
                    @extend %hover110;
                }
            }

            .auPrIm1 {
                background-image: url('../../img/automProj01.jpg');
            }

            .auPrIm2 {
                background-image: url('../../img/automProj02.png');
            }

            .auPrIm3 {
                background-image: url('../../img/automProj03.png');
            }

            .auPrIm4 {
                background-image: url('../../img/automProj04.jpg');
            }

            .automProjCartel {
                width: 70%;
                background: $colorBackProjCartel;
                border: 5px solid $colorPrim;
                border-radius: 22px;
                height: 10rem;

                .automProjTitle {
                    font-weight: $fontWeightTitle;
                    margin-top: 2rem;
                    margin-left: 3rem;
                }

                .automProjDescrip {
                    text-align: center;
                    margin-left: 3rem;
                    margin-right: 3rem;
                    margin-top: 1.5rem;
                    margin-bottom: 3rem;
                }
            }
        }
    }

    .partners {
        width: 100%;
        height: 20rem;
        color: $colorBlack;
        padding-top: 2rem;
        @extend %whiteGradient;

        h3 {
            font-weight: $fontWeightTitle;
            padding-left: 8rem;
            margin-bottom: 5rem;
        }

        .partLogos {
            width: 90%;
            padding-left: 10rem;
            @extend %flexWrap;
            align-items: center;

            .partImage {
                margin: 0 2rem;
                width: 13rem;

                &:hover {
                    @extend %hover110;
                }
            }
        }
    }

}