.contact {
    background-color: $colorBlack;
    padding-top: 10rem;
    width: 100%;
    //height: 230vh;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    // align-items: center;

    font-family: $font;
    font-weight: $fontWeightTitle;
    color: $colorWhite;
    text-align: center;

    .map {
        width: 100%;
        height: 80rem;
        //position: absolute;
        background-image: url('../../img/mapa.png');
        background-size: 30rem;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 60%;


        .location1 {
            //position: absolute;
            left: 7rem;
            top: 25rem;
            //z-index: 2;
        }

        .location2 {
            //position: absolute;
            left: -10rem;
            top: 22rem;
            //z-index: 2;
        }

        .tooltip {
            display: inline-block;
            position: relative;
            text-align: left;
            opacity: 1;
        }

        .tooltip .right {
            width: 18rem;
            top: 50%;
            left: 100%;
            margin-left: 20px;
            transform: translate(0, -50%);
            padding: 10px 20px;
            color: $colorWhite;
            background-color: $colorBlack;
            font-weight: normal;
            font-size: 13px;
            position: absolute;
            z-index: 99999999;
            box-sizing: border-box;
            border: 2px solid $colorPrim;
            border-radius: 25px;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.8s;

            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 3% 2%;
            grid-template-areas:
                ". ."
                ". ."
                ". .";
            align-items: center;
        }

        .tooltip:hover .right {
            visibility: visible;
            opacity: 1;
        }

        .tooltip .right i {
            position: absolute;
            top: 50%;
            right: 100%;
            margin-top: -90px;
            width: 90px;
            height: 180px;
            overflow: hidden;
        }

        .tooltip .right i::after {
            content: '';
            position: absolute;
            width: 90px;
            height: 90px;
            left: 0;
            top: 50%;
            transform: translate(50%, -50%) rotate(-45deg);
            background-color: transparent;
            border: 2px solid #13A3D9;
        }
    }

    .contactLinks {
        width: 100%;
        height: 8rem;
        display: flex;
        padding-bottom: 2rem;

        .contactItem {
            @extend %contactItem;
            border-right: 1px solid #C2C2C2;
        }

        .contactItem2 {
            @extend %contactItem;

        }
        
    }
}