@import "~bootstrap/scss/bootstrap";
@import './config/variables';
@import './config/extends';
@import './components/header';
@import './components/footer';
@import './components/sidebar';




.App-header {
  background-image: url("../img/fondo.png");
  background-size: contain;
  min-height: 100rem;
}



